{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-3">
        <div class="row stuntkit-container">
            <div class="col mx-auto">
                <div class="logo-font text-center">
                    <h1>Stunt Kits<h1>
                    <hr class="w-50 mb-1">
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-lg-5 text-center mx-4">
                <h2>Information</h2>
                <p>The full stunt kit will include all the <strong>Basic Stunt Kit</strong> items + extras that will allow you to do more tricks and make it easier to control the wheelie. This Kit includes the following items.</p>
                <ul class="ml-5 pl-5 text-left">
                    <li>(1) Crash Cage + Rubbers</li>
                    <li>(1) Sub Cage + Pegs</li>
                    <li>(1) 60T Rear Sprocket</li>
                    <li>(1) Long Chain</li>
                    <li>(1) Brake line </li>
                    <li>(1) CNC Aluminium Caliper Bracket.</li>
                    <li>(1-2) 4 Piston Caliper </li>
                    <li>(1) Shorty Clutch Lever</li>
                </ul>
                <p>
                   We custom make parts and source part from other brands.  We then take your order and ship all parts together to your door ready to be attach to your bike.
                </p>
                <p style="color:red;">*all screws needed are included*</p>
                <p style="color:red;">*master-Cylinder Optional Please Specify*</p>

            </div>
            <div class="col-12 col-lg-5 text-center mx-4">
                <div>
                    <h2>Place Your Order</h2>
                    <p>
                        We will email you with prices and details once you have submitted your request.
                    </p>
                </div>
                <form class="text-left">
                    <div class="row">
                        <div class="form-group">
                            <label for="">First Name</label>
                            <input type="text" class="form-control pr-2" id="formGroupExampleInput" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="">Last Name</label>
                            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="email" class="form-control" id="formGroupExampleInput2" placeholder="">
                        </div>
                    </div> 
                    
                
                </form>
            </div>
        </div>
    </div>
{% endblock %}