{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-3">
        <div class="row content-container">
            <div class="col mx-auto">
                <div class="logo-font text-center">
                    <h1>Stunt Kits<h1>
                    <hr class="w-50 mb-1">
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-lg-5 text-center mx-4">
                <h1>$599</h1>
                <h2>Basic Stunt Kit</h2>
                <p>The basic stunt kit will provide you with the basic items to make it easier to wheelie and to help you with stunt riding while also protecting your bike. This Kit includes the following items.</p>
                <ul class="ml-5 pl-5 text-left" >
                    <li>(1) Crash Cage + Rubbers</li>
                    <li>(1) Sub Cage + Pegs</li>
                    <li>(1) 60T Rear Sprocket</li>
                    <li>(1) Long Chain</li>
                </ul>
                <p>
                    We custom make parts and source part from other brands.  We then take your order and ship all parts together to your door ready to be attach to your bike.
                </p>
                <p style="color:red;">*all screws needed are included*</p>
                <a href="{% url 'view_basic_stuntkit_detail' %}" class="btn btn-outline-danger mb-5">
                    Order Here!
                </a>
            </div>

            <div class="col-12 col-lg-5 text-center mx-4">
                <h1>$999</h1>
                <h2>Full Stunt Kit</h2>
                <p>The full stunt kit will include all the <strong>Basic Stunt Kit</strong> items + extras that will allow you to do more tricks and make it easier to control the wheelie. This Kit includes the following items.</p>
                <ul class="ml-5 pl-5 text-left">
                    <li>(1) Crash Cage + Rubbers</li>
                    <li>(1) Sub Cage + Pegs</li>
                    <li>(1) 60T Rear Sprocket</li>
                    <li>(1) Long Chain</li>
                    <li>(1) Brake line </li>
                    <li>(1) CNC Aluminium Caliper Bracket.</li>
                    <li>(1) 4 Piston Caliper </li>
                    <li>(1) Shorty Clutch Lever</li>
                </ul>
                <p>
                   We custom make parts and source part from other brands.  We then take your order and ship all parts together to your door ready to be attach to your bike.
                </p>
                <p style="color:red;">*all screws needed are included*</p>
                <a href="{% url 'view_full_stuntkit_detail' %}" class="btn btn-outline-danger mb-5">
                    Order Here!
                </a>
            </div>
        </div>
    </div>
{% endblock %}