{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<!-- Page header -->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Space for navbar with overlay -->
    <div class="overlay"></div>
    <div class="container pt-5  mt-5">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mt-4 mb-4">My Account</h2>
                <hr>
            </div>
        </div>

        <!-- Show all users information/orders -->
        <div class="container">
            <div class="col ">
                <h2 class="red-text">Default Delivery Informstion</h2>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-outline-danger">Update Information</button>
                </form>
            </div>

            <!-- Display Order History -->
            <div class="col mt-5 text-center">
                <h2 class="red-text mb-5">Order History</h2>
                <div class="col">
                    <div class="row mb-3 font-weight-bold">
                        <div class="col-3">Order Number</div>
                        <div class="col-3">Date</div>
                        <div class="col-3">Items</div>
                        <div class="col-3">Order Total</div>
                    </div>
                    <div class="row my-auto">
                    {% for order in orders %}
                        <div class="col-3 text-red my-auto">
                            <a href="{% url 'order_history' order.order_number  %}" title="{{ order.order_number }}" >
                                {{ order.order_number|truncatechars:10  }}
                            </a>
                        </div>
                        <div class="col-3 my-auto">
                            {{ order.date }}
                        </div>
                        <div class="col-3 my-auto">
                        {% for item in order.lineitems.all %}
                            {{ item.product.name }} x{{ item.quantity }}
                        {% endfor %}
                        </div>
                        <div class="col-3 my-auto">
                            ${{ order.grand_total }}
                        </div>
                        <hr class="w-100">
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ profile }}      
{% endblock %}
