.allauth-form-inner-content input {
    border-color: red;
}

.order-history {
    max-height: 420px;
    overflow-y: auto;
}

div a {
    color: red;
    text-decoration: none;
}

div a:hover {
    color: black;

}