@import url("https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700");

html {
    height: 100%;
}

body {
    background: url('/media/background-image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 100px);
    color: #555;
    font-family: 'Oswald';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

#topnav {
    background-color: black;
}

#user-options {
    color: red;
}


.shopping-bag {
    color: red;
}

.page-button {
    color: red;
    font-size: 18px;
    text-decoration: none;
}

.page-button:hover {
    color: white;
    text-decoration: none;
}

.social-links {
    color:red;    
}

.social-links:hover{
    color:white;
    font-size: 105%;
}

.category-button {
    color: red;
    font-size: 18px;
    text-decoration: none;
}

.category-button:hover {
    color: black;
    text-decoration: none;
}

.img-product {
    height: 250px;
}

.logo-font {
    text-transform: uppercase;
    color: red;
    text-align: center;
}

.homepage-header {
    color:red;
}

.main-logo-link {
    width: fit-content;
}

.my-account-link:hover {
    color:white;
}

.login-block {
    background-color: black;
    color: white;
    top: 50%;
    transform: translate(0,-50%);
    margin: auto;
    padding: 5%;
    border-radius: 50px;

}

.red-text {
    color: red;
    text-decoration: none;
}

.red-text:hover {
    color: red;
}

.shop-now-button {
    background: red;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.website-navbar {
    background-color: black;
    border-bottom: 5px solid red;
}

.site-name:hover {
    text-decoration: underline red;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.content-container {
    padding-top: 100px;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.product-page-header {
    color: black;
    margin-top: 100px;
    text-align: center;
    text-transform: uppercase;
}

.item-title {
    text-transform: capitalize;
    color: red;

}

.product-item-detail {
    margin-top: 100px;
}

.stunt-kit-block {
    border: solid 5px red;
    height: 50vh;
    margin: auto;
}


.footer-container {
    position: relative;
    bottom:0;
    width:100%;
    background:black;
    border-top: 5px solid red;
}

.footer-social {
    text-align: center;
    color: red;
    font-size: 30px;
}

.bag-container {
    margin-top: 100px;
}

.fa-bars {
    color: red;
}

.btn-outline-danger {
    color: red;
    border: solid red 1px;
}

.btn-outline-danger:hover {
    background-color: red;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    .product-page-header {
        padding-top: 40px; 
    }
}

/* Forsmaller deviced */
@media (max-width: 800px) {
    .content-container {
        padding-top: 160px;
    }
    .product-page-header {
        padding-top: 62px; 
    }

    .login-block {
        margin-top: 62px;
    }
    
}