@import url("https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700");

html {
    height: 100%;
}

body {
    background: url('/media/background-image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 100px);
    color: #555;
    font-family: 'Oswald';
}

/* --------------- All page css -------------------- */
.logo-font {
    text-transform: uppercase;
    color: red;
    text-align: center;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.red-text {
    color: red;
    text-decoration: none;
}

.red-text:hover {
    color: red;
}


.btn-black {
    background: black;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.color-white {
    color:white;
}

.btn-outline-danger {
    color: red;
    border: solid red 1px;
}

.btn-outline-danger:hover {
    background-color: red;
}

.btn-danger {
    background-color: red;
}


/* --------------- Icons -------------------- */



.shopping-bag {
    color: red;
}

.page-button {
    color: red;
    font-size: 18px;
    text-decoration: none;
}

.page-button:hover {
    color: white;
    text-decoration: none;
}

.social-links {
    color:red;    
}

.social-links:hover{
    color:white;
    font-size: 105%;
}

.category-button {
    color: red;
    font-size: 18px;
    text-decoration: none;
}

.category-button:hover {
    color: black;
    text-decoration: none;
}

.img-product {
    min-height: 250px;
    max-height: 250px;
}

.no-image {
    min-height: 250px;
    max-height: 250px;
    background-color:#555;
    width: 400px;
}

.no-image-text {
    color: white;
}

.no-image-icon {
    color: white;
    font-size: 40px;
    margin-top: 20%;
}


.homepage-header {
    color:red;
}

@-webkit-keyframes blinking {
0% { opacity: 1.0; }
25% { opacity: 0.5; }
50% { opacity: 0.1; }
75% { opacity: 0.5; }
100% { opacity: 1.0; }
}



/* ----------- Navbar --------------------*/

.dropdown-menu {
    background-color: red;
    border-top: none;
}

.dropdown-item {
    color: white;
    background-color: red;
}

#topnav {
    background-color: black;
}

.main-logo-link {
    width: fit-content;
}

.my-account-link:hover {
    color:white;
}

.login-block {
    background-color: black;
    color: white;
    top: 50%;
    transform: translate(0,-50%);
    margin: auto;
    padding: 5%;
    border-radius: 50px;

}

.website-navbar {
    background-color: black;
    border-bottom: 5px solid red;
}

.site-name:hover {
    text-decoration: underline red;
}

#user-options {
    color: red;
}

/* ----------- Homepage --------------------*/


.shop-now-button {
    background: red;
    color: white;
    min-width: 260px;
    animation: blinking 1.5s linear infinite;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

/* ----------- Containers / Headers / overlay--------------------*/
.content-container {
    padding-top: 100px;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}


.product-page-header {
    color: black;
    margin-top: 100px;
    text-align: center;
    text-transform: uppercase;
}

.checkout_block {
    margin-top: 100px;
}

.stunt-kit-block {
    border: solid 5px red;
    height: 50vh;
    margin: auto;
}

.bag-container {
    margin-top: 100px;
}

/* ----------- Products --------------------*/

.item-title {
    text-transform: capitalize;
    color: red;

}
.fa-star-half {
    color: red;
}
.fa-star {
    color: red;
}

.product-item-detail {
    margin-top: 100px;
    padding-bottom: 240px;
}



/* --------------- Allauth forms -------------------- */
.allauth-form-inner-content input {
    border-color: red;
}

/* --------------- Footer -------------------- */

.footer-container {
    bottom:0;
    width:100%;
    background:black;
    border-top: 5px solid red;
}

.footer-social {
    text-align: center;
    color: red;
    font-size: 30px;
}

.fa-bars {
    color: red;
}


/* ----------- bootstrap toasts  --------------------*/

.message-container {
    position: fixed;
    top: 90px;
    right: 15px;
    z-index: 999999999;
    color:red;
}

.toast-block {
    overflow: visible;
    background-color: white;
    border: solid red 3px;
}

.toast-capper {
    height: 2px;
}





/* --------------- Media Queries -------------------- */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* smaaller */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    .product-page-header {
        padding-top: 40px; 
    }
}

/* Forsmaller deviced */
@media (max-width: 800px) {
    .content-container {
        padding-top: 160px;
    }
    .product-page-header {
        padding-top: 62px; 
    }

    .login-block {
        margin-top: 62px;
    }
    
}

/* Forsmaller Sideways devices */
@media (max-height: 450px) {

    .footer-container {
        bottom: -120px;
    }
    .homepage-header {
        margin-top: 13%;
    }
}