{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-3 my-auto">
        <div class="row content-container mb-5">
            <div class="col mx-auto">
                <div class="logo-font text-center">
                    <h1>Any Motorbike Can Stunt!<h1>
                    <hr class="w-50 mb-1">
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-6 mb-5">
                <h1>Kawasaki Ninja 250/300</h1>
                <h5>Level <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i></h5>
                <p>The Kawasaki Ninja 250/300 is a great motorbike to learn wheelies, or to begin stunting with. The light weight and easy power will help speed up the learning process. We highly recommend this motorbike for someone who is looking to learn stunting but is worried about the weight and power of a 600cc.</p>
            </div>
            <div class="col-6 mb-5">
                <h1>Honda CB/CBR 650F </h1>
                <h5>Level <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h5>
                <p>The Honda CB/CBR650f Isn’t the first bike that comes to mind when you think about stunt riding. However we have built one and tested it to its limits and can gladly say it is a very compatible stunt bike (once the correct stunt parts are added). The naked bike style of the bike is very beneficial as there are no faring to get in the way of your riding. There isn’t a large market for stunt parts, But we can get it all  for you!</p>
            </div>
            <div class="col-6 mb-5">
                <h1>BMW S1000 RR</h1>
                <h5>Level <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h5>
                <p>The BMW S1000 RR Isn’t the first bike that comes to mind when you think about stunt riding. However this german monster is the king of bikes to master for stunt riding. The masive amount of power makes it hard to control. Most riders who ride this bike for stunting do an engine remap to lower the power and make it more managable</p>
            </div>
            <div class="col-6 mb-5">
                <h1>Kawasaki z800</h1>
                <h5>Level <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i></h5>
                <p>The Kawasaki Z800 is a challanging bike to begin stunting with. This is due to the heavy weight of the bike along with the engine it make the process of learning wheelies much harder then on other bikes. Secondly the frame of this bike is not suited for stunt riding. The mounting points are weak and the streights in terms of stunting are not strong enough.</p>
            </div>
        </div>
    </div>
{% endblock %}