{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="col-lg-6 login-block text-center col-sm-7">
        <h1>{% trans "Sign Up Closed" %}</h1>

        <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
        {% endblock %}
    </div>
</div>
