{% load static %}

<!doctype html>
<html lang="en">
<head>

     {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>One Stop Stunt Shop {% block extra_title %}{% endblock %}</title>
</head>
<body>

    <header class="contianer-fluid fixed-top">
        <nav class="navbar navbar-expand-lg website-navbar">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 px-auto">
                <a href="{% url 'home' %}" class="nav-link">
                    <h2 class="logo-font site-name ml-1"><strong>One Stop</strong><strong style="color:white;"> Stunt Shop</strong></h2>
                </a>
            </div>
            <button class="navbar-toggler col-2 mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fas fa-bars"></i></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <div class="row justify-content-md-center mx-auto text-center">
                    <div class="col-md-auto mx-auto text-center">
                        <a class="nav-link page-button" href="{% url 'view_tips_advice' %}">Tips/Advice</a>
                    </div>
                    <div class="col-md-auto mx-auto text-center">
                        <a class="nav-link page-button" href="{% url 'view_stuntkit' %}">Stunt Kits</a>
                    </div>
                    <div class="col-md-auto mx-auto text-center">
                        <a class="nav-link page-button" href="{% url 'products' %}">All Products</a> 
                    </div>
                </div>

                <!-- Account and shopping bag taken from boutique ado site -->
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 inline">
                    <ul class="list-inline list-unstyled text-center my-0 ">
  
                        <li class="list-inline-item">
                            <a class="{% if grand_total %}color-white font-weight-bold{% else %}{% endif %} nav-link" href="{% url 'view_bag' %}">
                                <div class="text-center shopping-bag">
                                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                    <p class="my-0">
                                        {% if grand_total %}
                                            ${{ grand_total|floatformat:2 }}
                                        {% else %}
                                            $0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li class="list-inline-item dropdown">
                            <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center my-account-link">
                                    <div><i class="fas fa-house-user fa-lg"></i></div>
                                    <p class="my-0">Accounts</p>
                                </div>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="" class="dropdown-item">Management</a>
                                    {% endif %}
                                    <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block page-header %}
    {% endblock %}

   {% block content %}
   {% endblock %}

   {% block postloadjs %}
   <script type="text/javascript">
        $('.toast').toast('show');
    </script>
   {% endblock %}

    <footer class="footer-container">
        <div class="container">
            <div class="footer-social">
                <a href="#" title="Instagram" class="fab fa-instagram ml-4 mr-4 social-links"></a>
                <a href="#" title="Facebook"class="fab fa-facebook mr-4 social-links"></a>
                <a href="#" title="Twitter" class="fab fa-twitter mr-4 social-links"></a>
            </div>
            <div class="footer-copyright text-center py-3">
                © 2020 Copyright: One Stop Stunt Shop
            </div>
        </div>
    </footer>
</body>
   
</html>