{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Page header -->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Space for navbar with overlay -->
    <div class="overlay"></div>
    <div class="container pt-5 mt-5 mb-5">
        <div class="row">
            <div class="col-12">
                <hr>
                <h2 class="logo-font mt-4 mb-4">Product Management</h2>
                <h5>Edit a Product</h5>
                <hr>
            </div>
        </div>
        <!-- Edit Product Form  -->
        <div class="row">
            <div class="col-12"></div>
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form col" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div>
                        <a class="btn btn-outline-danger rounded-0" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-danger" type="submit">Update Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
