{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid pt-5 product-item-detail">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-4">
                     <a href="{{ product.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 my-auto"> 
                <div class="col-12">
                    <h3 class="item-title">{{ product.name }}</h1>
                </div>
                <div class="col-12">
                    <h4 class="font-weight-bold">${{ product.price }}</h4>
                </div>
                <div class="col-12 font-weight-light mt-2">
                    <p><strong>Motorbike:</strong> {{ product.motorbike }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
